NEXT_PUBLIC_SUPABASE_URL=https://djmkvwbmxitwlaqqsnmp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqbWt2d2JteGl0d2xhcXFzbm1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3OTg5NjQsImV4cCI6MjA2NTM3NDk2NH0.skD_gEyZCLBzGqiPOlZW3VVa2iBolWSy78azdW8_yJw